* {
    margin: 0;
    padding: 0px;
}

@media screen and (max-width:450px) {

    /* mobile */
    body {
        background-image: url("bg-image.jpg");
        background-size: 100% 100%;
        background-repeat: repeat;
    }



    nav {
        width: 100%;
        border: none;
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(10px);
        margin: 0px;
        height: 60px;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        z-index: 1;
        position: fixed;
        display: flex;
        justify-content: center;
        gap: 20px;
        align-items: center;
    }



    a {
        font-weight: bold;
        color: white;
        font-size: 20px;
        text-decoration-line: none;
        font-family: Arial, Helvetica, sans-serif;
    }

    nav img {
        height: 50px;
        width: 20px;
        position: absolute;
        bottom: 5px;
        left: 30px;
        animation: ImgAnimation 5s linear 9s 1 normal backwards;
    }
    @keyframes ImgAnimation {
        20%{
            transform: rotate(72deg);
        }
        40%{
            transform: rotate(144deg);
            background-color: aqua;
        }
        60%{
            transform: rotate(216deg);
        }
        80%{
            transform: rotate(288deg);
            background-color: blue;
        }
        100%{
            transform: rotate(360deg);
        }
    }

    .box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        gap: 50px 100px;
        position: relative;
        margin: 70px;
    }

    .box1 {
        width: 200px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px 30px;
    }

    .h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-weight: 900;
    }

    .h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-weight: 900;
    }

    .h3 {
        font-family: cursive;
        font-size: 30px;
        font-weight: 900;
        color: red;
        animation: ParisAnimation 3s linear 2s 2 alternate ;
    }

    @keyframes ParisAnimation {
        from{
            font-size: 30px;
        }
        to{
            font-size: 50px;
        }
    }

    .box2 {
        background-color: black;
        border: 2px solid white;
        border-radius: 25px;
        height: 250px;
        width: 180px;
        box-shadow: 1px 1px 50px 1px white;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0px;
    }

    h2 {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        text-shadow: 2px 2px 2px rgb(48, 89, 225);
    }

    form div input {
        width: 140px;
        height: 20px;
        margin: 10px;
        border-radius: 6px;
        font-size: 10px;
    }

    form div input:focus {
        outline: none;
        box-shadow: 1px 1px 10px 1px white;
    }

    .submit {
        color: blue;
        z-index: 1000;
    }

    .box3 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-around;
    }

    .h11 {
        color: white;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 900;
    }

    .box3 p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        backdrop-filter: blur(5px);
        margin: 30px;
    }
    .box4{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .box5 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        gap: 40px 60px;
        height: 300px;
    }

    .h12 {
        color: white;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 900;
    }

    .img img {
        width: 40px;
        height: 60px;
    }

    .img {
        display: flex;
        justify-content: center;
        width: 70px;
        height: 60px;
        background-color: grey;
        position: relative;
    }

    .overlay {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        position: absolute;
        top: 0px;
        z-index: 1;
        visibility: hidden;
        opacity: 0;
        width: 70px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img:hover .overlay {
        visibility: visible;
        opacity: 1;
        backdrop-filter: blur(5px);
    }

    footer h3 {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        font-size: 15px;
    }

}

@media screen and (min-width:900px) {

    /* laptop */
    body {
        background-image: url("bg-image.jpg");
        background-size: 100% 100%;
        background-repeat: repeat;
    }

    a {
        position: relative;
        right: 20px;
        font-weight: bold;
        color: white;
        font-size: 20px;
        text-decoration-line: none;
        font-family: Arial, Helvetica, sans-serif;
    }

    nav img {
        height: 50px;
        width: 20px;
        position: absolute;
        bottom: 5px;
        left: 30px;
        animation: ImgAnimation 5s linear 9s 1 normal backwards;
    }
    @keyframes ImgAnimation {
        20%{
            transform: rotate(72deg);
        }
        40%{
            transform: rotate(144deg);
            background-color: aqua;
        }
        60%{
            transform: rotate(216deg);
        }
        80%{
            transform: rotate(288deg);
            background-color: blue;
        }
        100%{
            transform: rotate(360deg);
        }
    }

    nav {
        width: 100%;
        border: none;
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(10px);
        margin: 0px;
        height: 60px;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        z-index: 1;
        position: fixed;
        display: flex;
        justify-content: end;
        gap: 60px;
        align-items: center;
    }

    .box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        gap: 200px 275px;
    }

    .box1 {
        width: 400px;
        display: flex;
        flex-wrap: wrap;
        gap: 15px 20px;
        position: relative;
        top: 110px;
        left: 40px;
    }

    .h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 80px;
        font-weight: 900;
    }

    .h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 80px;
        font-weight: 900;
    }

    .h3 {
        font-family: cursive;
        font-size: 80px;
        font-weight: 900;
        color: red;
        animation: ParisAnimation 3s linear 2s 2 alternate ;
    }

    @keyframes ParisAnimation {
        from{
            font-size: 80px;
        }
        to{
            font-size: 100px;
        }
    }
    .box2 {
        background-color: black;
        border: 2px solid white;
        border-radius: 30px;
        height: 450px;
        width: 450px;
        box-shadow: 1px 1px 50px 1px white;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0px;
        position: relative;
        top: 100px;
    }

    h2 {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-align: center;
        font-size: 50px;
        font-weight: bold;
        text-shadow: 4px 4px 2px rgb(48, 89, 225);
    }

    form div input {
        width: 420px;
        height: 40px;
        margin: 15px;
        border-radius: 8px;
        font-size: 2vw;
    }

    form div input:focus {
        outline: none;
        box-shadow: 1px 1px 10px 1px white;
    }

    .submit {
        color: blue;
        z-index: 1000;
    }

    .box3 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-around;
    }

    .h11 {
        color: white;
        font-size: 60px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 900;
    }

    .box3 p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        backdrop-filter: blur(5px);
        margin: 30px;
    }
    .box4{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .box5 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px 120px;
    }

    .h12 {
        color: white;
        font-size: 60px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 900;
        margin: 100px 0px;
        text-align: center;
        position: relative;
        right: 10px;
    }

    .img {
        display: flex;
        justify-content: center;
        width: 120px;
        height: 150px;
        background-color: grey;
        position: relative;
    }


    .overlay {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        position: absolute;
        top: 0px;
        z-index: 1;
        visibility: hidden;
        opacity: 0;
        width: 120px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img:hover .overlay {
        visibility: visible;
        opacity: 1;
        backdrop-filter: blur(5px);
    }

    footer h3 {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
    }
}
